@model UserManagement.Web.Models.Logs.LogsViewModel

<h2>Logs List</h2>

<div>
    <form method="POST" asp-coroller="userlogs" action="filterByDate">
        <label for="MinDateTime">Start Date and Time:</label>
        <input type="datetime-local"asp-for="@Model.MinDateTime" name="MinDateTime"  />
        <label for="MaxDateTime">End Date and Time:</label>
        <input type="datetime-local" asp-for="@Model.MaxDateTime" name="MaxDateTime"  />
        <button type="submit" class="btn btn-primary">Filter by date</button>
 



    </form>
    <br>
    <br>
    <table class="table">
        <tbody>
        @foreach (var item in Model.Items)
        {
                <tr class="log-entry" onclick="toggleDetails(this)">
                    <td class="log-summary">
                    @item.Message
                    </td>
                </tr>
                <tr class="log-details" style="display:none;">
                    <td>Id: @item.Id</td>
                    <td>EntityId: @item.EntityId</td>
                    <td>EntityType: @item.EntityType</td>
                    <td>ActionType: @item.ActionType</td>
                    <td>Date: @item.Timestamp</td>
                </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="users" asp-action="list" class="btn btn-primary font-end"> Return </a>


</div>
</div>







        @section Scripts {
    <script type="text/javascript">
        function toggleDetails(element) {
            var details = element.nextElementSibling;
            if (details.style.display === "none") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }

    </script>
        }
